.avatar {
    position: fixed;
    overflow: hidden;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .avatar.about {
    height: 70vh;
  }
  
  .avatar.skills {
    height: 95vh;
    transform: translate(-50%, -50%) scaleX(-1);
  }
  
  .shadow-overlay-about,
  .shadow-overlay-skills {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0)
    );
  }
  
  @media (max-width: 1100px) {
    .avatar {
      height: 50vh;
    }
    .shadow-overlay-about,
    .shadow-overlay-skills {
      display: none; /* Optional for smaller screens */
    }
  }
  
  @media (max-width: 700px) {
    .avatar {
      height: 45vh;
    }
  }
  