.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

a {
  width: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.nav-link {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.current {
  opacity: 1;
}

.nav-link img {
  width: 2.5rem;
  height: auto;
}

.page-title {
  font-size: 0.875rem;
  color: white;
  text-transform: uppercase;
  cursor: default;
}

@media (max-width: 1100px) {
  .nav {
    top: auto;
    bottom: 2rem;
    gap: 1rem;
  }
  .nav-link {
    width: 2rem;
  }
  .nav-link img {
    width: 2rem;
  }
  .page-title {
    display: none;
  }
}
